
{
    "template" : {
        "query": {
    "bool": {
        "must": [
            { "match": { "cdnid": "106" }},
            { "range": { "ptime": 
              { "gte": "201511011000",
                "lt":"201511011015"  
              }
            }
          }
        ]
    }
  }
    }
}

